.navbar {
  &.show{
    animation: fadeIn 0.5s;
  }
  &.hide{
    display: none;
    animation: fadeOut 0.5s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
