<div class="container-fluid pt-5 pb-3" id="portfolio">
  <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Gallery</h1>
          <h1 class="position-absolute text-uppercase text-primary">My Portfolio</h1>
      </div>
      <div class="container responsive-grid">
        <mat-card *ngFor="let project of projects()">
          <mat-card-header>
            <mat-card-title>
              {{ project.name }}
            </mat-card-title>
          </mat-card-header>
          <br>
          <img mat-card-image [src]="project.images[0]" />
          <mat-card-content>
            <br>
            <p>
              {{ project.description }}
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem repudiandae magni rerum, error impedit vero esse expedita! Quia at ullam, mollitia est ratione quidem ab suscipit quo optio error voluptate?
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARED</button>
          </mat-card-actions>
        </mat-card>
      </div>

  </div>
</div>
